<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="my-page.component.css">
    <title>My Page Natalia Jaramillo</title>
</head>
<body>
    <!--SECCION DE INICIO-->
    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <h1>/LP/</h1>
                    <nav id="nav" class="">
                        <ul id="links">
                            <li><a href="#inicio"  (click)="seleccionar(this)">HOME</a></li>
                            <li><a href="#sobremi" (click)="seleccionar(this)">ABOUT ME</a></li>
                            <li><a href="#servicios" (click)="seleccionar(this)">SERVICES</a></li>
                            <li><a href="#habilidades" (click)="seleccionar(this)">PROJECTS</a></li>
                            <li><a href="#portafolio" (click)="seleccionar(this)">CERTIFICATIONS</a><li>
                            <li><a href="#contacto" (click)="seleccionar(this)">CONTACT</a></li>
                        </ul>
                    </nav>

                    <!-- Iconos del menu responsibe -->
                    <div id="icono-nav" (click)="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <!-- Iconos de redes sociales -->
                    <div id="redes">
                        <a href="https://linkedin.com/in/njaramillog"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/tutinjg"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.hackerrank.com/natijago"><i class="fa-brands fa-hackerrank"></i></a>
                        <a href="https://www.instagram.com/natijaragonz/"><i class="fa-brands fa-square-instagram"></i></a>
                    </div>
                </div>
            </header>
            <div class="presentacion">
                <p class="bienvenida">Hello World...</p>
                <h2>I'm <span>Natalia Jaramillo</span>,  an Industrial Engineer</h2>
                <p class="descripcion">¡Welcome to my digital space!, where creativity meets engineering to transform ideas into impactful solutions. My focus is on optimizing processes, developing robust software, and managing projects efficiently, always striving for excellence and continuous growth. If you're looking for a strategic partner to take your project to the next level, or if you have an interesting collaboration proposal, I'd love to connect! Feel free to reach out to explore how I can contribute to your success.</p>
                <a href="#servicios">Go to Services</a>
            </div>
        </div>      
    </section>

    <!--SECCION SOBRE MI-->
    <section id="sobremi">
        <div class="contenedor-foto">
            <img src="assets/imagenes/foto.png" alt="">
        </div>
        <div class="sobremi">
            <p class="titulo-seccion">About Me</p>
            <h2>Hi there! I'm <span>Natalia Jaramillo Gonzalez</span></h2>
            <h3>An Industrial Engineer with a deep passion for technology and innovation.</h3>
            <p>I am an Industrial Engineer with a background in the IT sector that combines a solid academic foundation with practical experience in developing technological solutions. My education at the Universidad Nacional Abierta y a Distancia has provided me with an analytical perspective and the ability to approach challenges with a strategic mindset. I am currently specializing in Project Management, which complements my capacity to lead and coordinate initiatives effectively.</p>
            <p>My skills range from software development with C# and .NET, web application design with HTML, CSS, JavaScript, TypeScript, and Angular, to database management with DML, SQL, PostgreSQL, and SQL Server. Additionally, I have experience in data processing and analysis, ETL implementation, and the application of agile methodologies like Scrum. Tools such as Visual Studio, Git, Jira, MS Teams, and MS Project are integral to my workflow, enabling me to deliver high-quality results consistently.</p>
            <p><b>Fun Facts </b>I'm 25 Years Old, I'm into Video Games and love baking!</p>
            <a href="assets/documentos/hv_natalia_jaramilloz.pdf">DOWNLOAD CV</a>
        </div>
    </section>

    <!--SECCION SERVICIOS-->
    <section id="servicios">
        <h3 class="titulo-seccion">SERVICES</h3>
        <div class="fila">
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Analysis and Design of Development</h4>
                <hr>
                <!-- <ul class="servicios-tag">
                    <li>.Net</li>
                    <li>C#</li>
                    <li>JS</li>
                    <li>GIT</li>
                    <li>Angular</li>
                    <li>C#</li>
                </ul> -->
                <p>
                    I offer comprehensive services in the analysis, design, implementation, and support of software solutions. My approach focuses on understanding client needs to create robust, efficient, and innovative applications. From software architecture to user interface, I guarantee tailored solutions that boost productivity and enhance user experience.
                    <b>Tools and Technologies:</b> C#, .NET, HTML, CSS, JavaScript, TypeScript, Angular, Visual Studio, Git, Artificial Intelligence. 
                </p>
            </div>
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-database"></i></span>
                <h4>Data Processing and Analysis</h4>
                <hr>
                <!-- <ul class="servicios-tag">
                    <li>SQL</li>
                    <li>DDL</li>
                    <li>DML</li>
                    <li>ETL</li>
                </ul> -->
                <p>
                    I provide specialized services in data management, processing, and analysis. From data manipulation with DML and SQL to the creation of ETL processes and database optimization, my goal is to transform data into valuable information that supports strategic decision-making.
                    <b>Tools and Technologies:</b> DML, SQL, PostgreSQL, SQL Server, SSMS.
                </p>
            </div>
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-list-check"></i></span>
                <h4>Project Management and Administrative Assistance</h4>
                <hr>
                <!-- <ul class="servicios-tag">
                    <li>Office</li>
                    <li>Teams</li>
                    <li>Project</li>
                    <li>Scrum</li>
                </ul> -->
                <p>
                    I offer project management and administrative assistance services to ensure the successful execution of your initiatives. From planning and tracking to coordinating activities and documenting processes, my approach is based on efficiency, collaboration, and meeting objectives.
                    <b>Tools and Methodologies:</b> Jira, MS Teams, MS Project, Scrum.
                </p>
            </div>
        </div>
    </section>

    <!--SECCION HABILIDADES-->
    <section id="habilidades">
        <div class="contenedor-skills" id="skills">
            <h3 class="titulo-seccion">ABILITIES AND PROJECTS</h3>
            <div class="skill">
                <div class="info">
                    <p><span class="lista"></span>C# .Net</p>
                    <span class="porcentaje">90%</span>
                </div>
                <div class="barra">
                    <div id="html" class="barra-progreso0">
                    </div>
                </div>

                <div class="info">
                    <p><span class="lista"></span>Html & Css</p>
                    <span class="porcentaje">95%</span>
                </div>
                <div class="barra">
                    <div id="html" class="barra-progreso1">
                    </div>
                </div>

                <div class="info">
                    <p><span class="lista"></span>Javascript & Typscript</p>
                    <span class="porcentaje">85%</span>
                </div>
                <div class="barra">
                    <div id="js" class="barra-progreso2"></div>
                </div>

                <div class="info">
                    <p><span class="lista"></span>Data processing</p>
                    <span class="porcentaje">90%</span>
                </div>
                <div class="barra">
                    <div id="bd" class="barra-progreso3"></div>
                </div>

                <div class="info">
                    <p><span class="lista"></span>Project Management</p>
                    <span class="porcentaje">95%</span>
                </div>
                <div class="barra">
                    <div id="certificados" class="barra-progreso4"></div>
                </div>
            </div>
        </div>
    </section>
    <!--SECCION PORTAFOLIO / CERTIFICACIONES -->
    <section id="portafolio">
        <h3 class="titulo-seccion">CERTIFICATIONS</h3>
        <div class="fila">
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/2008-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/definitivo_html_css.png" alt="definitivo_html_css.png">
                </a>
                <div class="info">
                    <h4>Definitive HTML and CSS Course</h4>
                    <p>2021-September</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/2467-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/frontend.png" alt="frontend.png">
                </a>
                <div class="info">
                    <h4>Frontend Developer Course</h4>
                    <p>2021-October</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/1642-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/profesional_js.png" alt="profesional_js.png">
                </a>
                <div class="info">
                    <h4>Professional Javascript Course</h4>
                    <p>2023-February</p>
                </div>
            </div>
        </div>
        <div class="fila">
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/2486-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/angular_componentes.png" alt="angular_componentes.png">
                </a>
                <div class="info">
                    <h4>Angular Components and Services Course</h4>
                    <p>2022-June</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/1557-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/profesional_git.png" alt="profesional_git.png">
                </a>
                <div class="info">
                    <h4>Professional Git and GitHub Course</h4>
                    <p>2021-October</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/2397-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/profesional_python.png" alt="profesional_python.png">
                </a>   
                <div class="info">
                    <h4>Professional Python Course</h4>
                    <p>2022-August</p>
                </div>
            </div>
        </div>
        <div class="fila">
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/4788-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/codigo_limpio_csharp.png" alt="codigo_limpio_csharp.png">
                </a>
                <div class="info">
                    <h4>Best Practices and Clean Code Course in C#</h4>
                    <p>2023-August</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/2340-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/planificacion_proyectos.png" alt="planificacion_proyectos.png">
                </a>
                <div class="info">
                    <h4>Project Planning Course</h4>
                    <p>2022-December</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://www.credly.com/badges/2e587fe9-e3af-4a2c-82dc-64d15e9f5421/linked_in_profile">
                    <img src="assets/imagenes/certificados/profesional_scrum.png" alt="profesional_scrum.png">
                </a>
                <div class="info">
                    <h4>Scrum Foundation Professional Certification - SFPC </h4>
                    <p>2023-February</p>
                </div>
            </div>
        </div>
    </section>

    <!--SECCION DE CONTACTO-->
    <section id="contacto">
        <h3 class="titulo-seccion">CONNECT WITH ME</h3>
        <div class="contenedor-form">
            <form action="https://formsubmit.co/njg@jaramillo.team" method="POST">
                <div class="fila-mitad">
                    <input type="text" placeholder="Full Name" class="input-mitad" name="name">
                    <input type="text" placeholder="Email" class="input-mitad" name="email">
                </div>
                <div class="fila">
                    <input type="text" placeholder="Subject" class="input-full" name="subject">
                </div>
                <div class="fila">
                    <textarea name="coments" id="" cols="30" rows="10" placeholder="Messages" class="input-full"></textarea>
                </div>
                <div class="fila">
                    <input type="submit" value="Send" class="btn-enviar">
                </div>
                <input type="hidden" name="_next" value="https://tutinjg.github.io/ng-mypage#inicio">
                <input type="hidden" name="_captcha" value="false">
            </form>
        </div>
    </section>

    <!-- SECCION REDES RESPONSIVE -->
    <section id="redes_responsive">
        <h3 class="titulo-seccion">Redes Sociales</h3>
            <!-- Iconos de redes sociales -->
            <div id="div_redes_responsive">
                <a href="https://linkedin.com/in/njaramillog"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/tutinjg"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.hackerrank.com/natijago"><i class="fa-brands fa-hackerrank"></i></a>
                <a href="https://www.instagram.com/natijaragonz/"><i class="fa-brands fa-square-instagram"></i></a>
            </div>
    </section>

    <!--SECCION FOOTER-->
    <footer>
        <p>Todos los derechos reservados - NJG 2025</p>
        <div id="redes">
            <a href="https://linkedin.com/in/njaramillog"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/tutinjg"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.hackerrank.com/natijago"><i class="fa-brands fa-hackerrank"></i></a>
            <a href="https://www.instagram.com/natijaragonz/"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
    </footer>

    <script src="my-page.component.ts"></script>

</body>

</html>  