<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="my-page.component.css">
    <title>My Page Natalia Jaramillo</title>
</head>
<body>
    <!--SECCION DE INICIO-->
    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <h1>/LP/</h1>
                    <nav id="nav" class="">
                        <ul id="links">
                            <li><a href="#inicio"  (click)="seleccionar(this)">INICIO</a></li>
                            <li><a href="#sobremi" (click)="seleccionar(this)">SOBRE MI</a></li>
                            <li><a href="#servicios" (click)="seleccionar(this)">SERVICIOS</a></li>
                            <li><a href="#portafolio" (click)="seleccionar(this)">CERTIFICACIONES</a><li>
                            <li><a href="#contacto" (click)="seleccionar(this)">CONTACTO</a></li>
                        </ul>
                    </nav>

                    <!-- Iconos del menu responsibe -->
                    <div id="icono-nav" (click)="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <!-- Iconos de redes sociales -->
                    <div id="redes">
                        <a href="https://linkedin.com/in/njaramillog"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/tutinjg"><i class="fa-brands fa-github"></i></a>
                        <a href="https://www.hackerrank.com/natijago"><i class="fa-brands fa-hackerrank"></i></a>
                    </div>
                </div>
            </header>
            <div class="presentacion">
                <p class="bienvenida">Hello World...</p>
                <h2>Soy <span>Natalia Jaramillo</span>, Ingeniera industrial</h2>
                <p class="descripcion">¡Bienvenidos a mi landing page! Aquí podrás conocer un poco más sobre mí, mis habilidades y los servicios que ofrezco. Si deseas colaborar en algún proyecto o aprovechar mis servicios, no dudes en contactarme. ¡Espero que esta página sea de ayuda como un punto de partida para futuras conexiones y colaboraciones!.</p>
                <a href="#servicios">Ir a Servicios</a>
            </div>
        </div>      
    </section>

    <!--SECCION SOBRE MI-->
    <section id="sobremi">
        <div class="contenedor-foto">
            <img src="assets/imagenes/foto.png" alt="">
        </div>
        <div class="sobremi">
            <p class="titulo-seccion">Sobre Mi</p>
            <h2>Hola, soy <span>Natalia Jaramillo Gonzalez</span></h2>
            <h3>Ingeniera industrial</h3>
            <p>Soy una profesional apasionada con experiencia destacada en gestión de proyectos, generación de informes y comprensión de requerimientos de clientes, respaldada por sólidas habilidades en Scrum, Jira, MS Teams, MS Project, así como en procesamiento de datos mediante DML, SQL y ETL en bases de datos PostgreSQL. Mi habilidad para trabajar con datos complejos e información significativa se combina con un conjunto diverso de destrezas y conocimientos en desarrollo, abarcando HTML, CSS, JavaScript, TypeScript, Git, Angular y C# .NET. Mi enfoque autónomo, recursivo y responsable, junto con una mentalidad proactiva, me permite destacar tanto en proyectos colaborativos como en entornos independientes, mientras persigo constantemente el aprendizaje continuo. </p>
            <p><b>Fun Facts </b>Tengo 23 años, me gustan los videojuegos, las películas policiales y la repostería.</p>
            <!-- <a href="assets/documentos/hv_natalia_jaramilloz.pdf">Descargar CV</a> -->
        </div>
    </section>

    <!--SECCION SERVICIOS-->
    <section id="servicios">
        <h3 class="titulo-seccion">MIS SERVICIOS</h3>
        <div class="fila">
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Desarrollo y Buenas Prácticas</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>GIT</li>
                    <li>Angular</li>
                    <li>C#</li>
                </ul>
                <p>
                    <b>Diseño de Interfaz de Usuario (UI):</b> Crear la estructura y el diseño visual de la interfaz de usuario utilizando HTML para la estructura, CSS para el estilo y JavaScript para la interacción.
                    <b>Desarrollo Frontend:</b> Implementar la lógica del lado del cliente utilizando JavaScript para mejorar la interactividad y la experiencia del usuario en la aplicación web.
                    <b>Estilización y Diseño:</b> Aplicar estilos visuales, responsive design y diseños atractivos utilizando CSS para mejorar la apariencia general de la aplicación.
                    <b>Gestión de Eventos:</b> Utilizar JavaScript para manejar eventos y acciones del usuario, como clics, entradas y cambios en la página.
                    <b>Control de Versiones:</b> Utilizar Git para rastrear y gestionar cambios en el código fuente, permitiendo la colaboración y la recuperación de versiones anteriores.
                    <b>Arquitectura de Aplicaciones:</b> Diseñar la estructura general de la aplicación utilizando Angular, definiendo componentes, rutas y módulos para una organización efectiva.
                </p>
            </div>
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-database"></i></span>
                <h4>Procesamiento y Análisis de Datos</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>SQL</li>
                    <li>DDL</li>
                    <li>DML</li>
                    <li>ETL</li>
                </ul>
                <p>
                    <b>Definición de Estructuras:</b> Emplear DDL para crear tablas, índices, vistas, restricciones y otros elementos de la base de datos.
                    <b>Gestión de Metadatos:</b> Utilizar DDL para definir y modificar metadatos que describen la estructura de la base de datos.
                    <b>Manipulación de Datos:</b> Emplear DML para insertar, actualizar y eliminar registros en las tablas de la base de datos.
                    <b>Consulta y Análisis:</b> Utilizar DML para realizar consultas SELECT para extraer y analizar datos específicos de la base de datos.

                    <b>Extracción de Datos:</b> Recopilar datos de múltiples fuentes, como bases de datos, archivos y servicios web.
                    <b>Transformación de Datos:</b> Aplicar transformaciones a los datos para limpiar, validar, enriquecer y reorganizar la información antes de cargarla.
                    <b>Carga de Datos:</b> Cargar los datos transformados en sistemas de almacenamiento, como almacenes de datos o data lakes.
                    <b>Programación de Flujos:</b> Crear flujos de trabajo ETL que gestionen la extracción, transformación y carga de datos de manera automatizada y programada.
                </p>
            </div>
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-list-check"></i></span>
                <h4>Gestión de Proyectos y Asistencia Administrativa</h4>
                <hr>
                <ul class="servicios-tag">
                    <li>Office</li>
                    <li>Teams</li>
                    <li>Project</li>
                    <li>Scrum</li>
                </ul>
                <p>
                    <b>Colaboración:</b> Proporcionar un entorno centralizado para compartir archivos, documentos y recursos relevantes del proyecto.
                    <b>Organización:</b> Crear canales y espacios de trabajo dedicados para diferentes aspectos del proyecto, fomentando la colaboración y el enfoque.
                    <b>Daily Scrum:</b> Participar en reuniones diarias para compartir actualizaciones, identificar bloqueos y coordinar esfuerzos del equipo.
                    <b>Planificación de Proyectos:</b> Crear y gestionar cronogramas, tareas y recursos en una vista estructurada del proyecto.
                    <b>Seguimiento de Avances:</b> Supervisar el progreso del proyecto, actualizar tareas y recursos, y realizar ajustes según sea necesario.
                    <b>Generación de Informes:</b> Crear informes visuales y detallados sobre el estado del proyecto, recursos y cumplimiento de plazos.
                    <b>Gestión de Flujo de Trabajo:</b> Definir flujos de trabajo personalizados para seguir el progreso de las tareas desde la creación hasta la finalización.
                    <b>Asignación y Priorización:</b> Asignar tareas a miembros del equipo, establecer prioridades y estimaciones de tiempo.
                </p>
            </div>
        </div>
    </section>

    <!--SECCION HABILIDADES-->
    <div class="contenedor-skills" id="skills">
        <h3 class="titulo-seccion">HABILIDADES</h3>
        <div class="skill">
            <div class="info">
                <p><span class="lista"></span>Html & Css</p>
                <span class="porcentaje">95%</span>
            </div>
            <div class="barra">
                <div id="html" class="barra-progreso1">
                </div>
            </div>

            <div class="info">
                <p><span class="lista"></span>Javascript & Typscript</p>
                <span class="porcentaje">85%</span>
            </div>
            <div class="barra">
                <div id="js" class="barra-progreso2"></div>
            </div>

            <div class="info">
                <p><span class="lista"></span>Procesamiento de Datos</p>
                <span class="porcentaje">90%</span>
            </div>
            <div class="barra">
                <div id="bd" class="barra-progreso3"></div>
            </div>

            <div class="info">
                <p><span class="lista"></span>Gestión de Proyectos</p>
                <span class="porcentaje">95%</span>
            </div>
            <div class="barra">
                <div id="certificados" class="barra-progreso4"></div>
            </div>
        </div>
    </div>

    <!--SECCION PORTAFOLIO / CERTIFICACIONES -->
    <section id="portafolio">
        <h3 class="titulo-seccion">MIS CERTIFICACIONES</h3>
        <div class="fila">
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/2008-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/definitivo_html_css.png" alt="definitivo_html_css.png">
                </a>
                <div class="info">
                    <h4>Curso Definitivo HTML y CSS</h4>
                    <p>2021-Septiembre</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/2467-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/frontend.png" alt="frontend.png">
                </a>
                <div class="info">
                    <h4>Curso de Frontend Developer</h4>
                    <p>2021-Octubre</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/1642-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/profesional_js.png" alt="profesional_js.png">
                </a>
                <div class="info">
                    <h4>Curso Profesional de Javascript</h4>
                    <p>2023-Febrero</p>
                </div>
            </div>
        </div>
        <div class="fila">
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/2486-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/angular_componentes.png" alt="angular_componentes.png">
                </a>
                <div class="info">
                    <h4>Curso de Angular Componentes y Servicios</h4>
                    <p>2022-Junio</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/1557-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/profesional_git.png" alt="profesional_git.png">
                </a>
                <div class="info">
                    <h4>Curso Profesional de Git y GitHub</h4>
                    <p>2021-Octubre</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/2397-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/profesional_python.png" alt="profesional_python.png">
                </a>   
                <div class="info">
                    <h4>Curso Profesional de Python</h4>
                    <p>2022-Agosto</p>
                </div>
            </div>
        </div>
        <div class="fila">
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/4788-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/codigo_limpio_csharp.png" alt="codigo_limpio_csharp.png">
                </a>
                <div class="info">
                    <h4>Curso de Buenas Prácticas y Código Limpio en C#</h4>
                    <p>2023-Agosto</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://platzi.com/p/njaramillog/curso/2340-course/diploma/detalle/">
                    <img src="assets/imagenes/certificados/planificacion_proyectos.png" alt="planificacion_proyectos.png">
                </a>
                <div class="info">
                    <h4>Curso de Planificación de Proyectos</h4>
                    <p>2022-Diciembre</p>
                </div>
            </div>
            <div class="certificado">
                <div class="overlay"></div>
                <a href="https://www.credly.com/badges/2e587fe9-e3af-4a2c-82dc-64d15e9f5421/linked_in_profile">
                    <img src="assets/imagenes/certificados/profesional_scrum.png" alt="profesional_scrum.png">
                </a>
                <div class="info">
                    <h4>Scrum Foundation Professional Certification - SFPC </h4>
                    <p>2023-Febrero</p>
                </div>
            </div>
        </div>
    </section>

    <!--SECCION DE CONTACTO-->
    <section id="contacto">
        <h3 class="titulo-seccion">Contáctame Ahora</h3>
        <div class="contenedor-form">
            <form action="https://formsubmit.co/njg@jaramillo.team" method="POST">
                <div class="fila-mitad">
                    <input type="text" placeholder="Nombre Completo" class="input-mitad" name="name">
                    <input type="text" placeholder="Direccion de Email" class="input-mitad" name="email">
                </div>
                <div class="fila">
                    <input type="text" placeholder="Escribe el asunto" class="input-full" name="coments">
                </div>
                <div class="fila">
                    <textarea name="" id="" cols="30" rows="10" placeholder="Escribe el mensaje" class="input-full"></textarea>
                </div>
                <div class="fila">
                    <input type="submit" value="Enviar Mensaje" class="btn-enviar">
                </div>
                <input type="hidden" name="_next" value="https://tutinjg.github.io/ng-mypage#inicio">
                <input type="hidden" name="_captcha" value="false">
            </form>
        </div>
        
    </section>

    <!--SECCION FOOTER-->
    <footer>
        <p>Todos los derechos reservados - NJG 2022</p>
        <div id="redes">
            <a href="https://linkedin.com/in/njaramillog"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/tutinjg"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.hackerrank.com/natijago"><i class="fa-brands fa-hackerrank"></i></a>
        </div>
    </footer>

    <script src="my-page.component.ts"></script>

</body>

</html>  